body {
    background-color: aqua;
    margin: 0;
}

/* /// CABECERA DE LA WEB /// */

.header {
    background-color: rgb(249, 206, 151);
    height: 10vh;
}

/* /// CUERPO DE LA WEB /// */

.main {
    background-color: blanchedalmond;
    height: 80vh;
    display: flex;
    justify-content: center;
}

/* // CUERPO DE LA CONSOLA // */

.gb-body1 {
    background-color: orange;
    height: 524px;
    width: 312px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.gb-body2 {
    background-color: rgb(254, 206, 117);
    height: 450px;
    width: 200px;
    position: absolute;
    z-index: -10;
}

.gb-body-elements {

    height: 524px;
    width: 312px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 28fr 4fr 12fr 12fr;
    gap: 1px;
    text-align: center;
    }

    .box {
        background-color: blueviolet;
    }

    .box-top {
        grid-column: 1 / 5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .box-central {
        grid-column: 2 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ninten-logo {
        width: 80px;
    }

    .box-left {
        grid-column: 1 / 3;
    }

    .box-right {
        grid-column: 3 / 5;
    }

/* / PANTALLA / */


.screen {
    background-color: grey;
    width: 270px;
    height: 234px;
    display: grid;
    grid-template-columns: 5fr 20fr 5fr;
    grid-template-rows: 3fr 17fr 6fr;
}

.bezel {
    background-color: rgb(66, 65, 65);
}


.bezel-left-t {
    display: flex;
    align-items: center;
    justify-content: center;
}

.led {
    background-color: brown;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin: 2px;
}

.led-r {
    height: 12px;
    width: 16px;
}

.bezel-left-b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9px;
    color: azure;
}

.bezel1 {
    grid-column: 1 / 5;
    border-radius: 8px 8px 0px 0px;
}


.bezel2 {
    padding-top: 40px;
}

.bezel5 {
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo1 {
    width: 160px;
}

.in-screen {
    background-color: rgb(39, 39, 39);
}



/* /// PIE DE LA WEB /// */

.footer {
    background-color: rgb(185, 154, 116);
    height: 10vh;
}
