body {
    background-color: aqua;
    margin: 0;
}

/* /// CABECERA DE LA WEB /// */

.header {
    background-color: rgb(249, 206, 151);
    height: 10vh;
}

/* /// CUERPO DE LA WEB /// */

.main {
    background-color: blanchedalmond;
    height: 80vh;
    display: flex;
    justify-content: center;
}

/* // CUERPO DE LA CONSOLA // */

.gb-body1 {
    background: linear-gradient(-75deg, rgb(232, 124, 1) 15%, rgb(255, 166, 0) 60%, rgb(254, 184, 52));
    height: 524px;
    width: 312px;
    display: flex;
    justify-content: center;
    z-index: 0;
    border-radius: 30em/7em;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

.gb-body2 {
    background: linear-gradient(-85deg, rgb(254, 149, 28) 15%, rgb(255, 175, 28) 60%, rgb(254, 204, 112));
    height: 470px;
    width: 205px;
    position: absolute;
    z-index: -10;
    border-radius: 30em/7em;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.gb-body-elements {

    height: 524px;
    width: 312px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 28fr 4fr 12fr 12fr;
    gap: 1px;
    text-align: center;
    }

.box-top {
        grid-column: 1 / 5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

.box-central {
        grid-column: 2 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.box-6 {
        grid-column: 1 / 5;
        border-radius: 30em/7em;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        display: flex;
        justify-content: flex-end;
    }



.speaker {
        margin: 15px 20px 0 0;
        width: 70px;
        height: 70px;
        transform: skewY(-10deg);
    }

.speaker-grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

.speaker-dots {
        transform: skewY(10deg);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        border: 1px inset;
    }

.select-start {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 21px;
}    

.bt-st-top {
    width: 70px;
    display: flex;
    margin: 9px;
    gap: 15px;
}

.bt-st {
    background: linear-gradient(to bottom, grey, rgb(55, 55, 55));
    width: 31px;
    height: 10px;
    border-radius: 3em/2em;
    border: outset rgb(165, 164, 164);
}    

.bt-st-bottom {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.st-text {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    text-shadow: -1px -1px 1px rgb(243, 193, 102);
    margin-right: 2px;
}


.dot2 {
        background-color: rgb(148, 104, 22);
    }

.dot1 {
        background-color: rgb(234, 169, 49);
    }


.dot-n {
        background-color: transparent;
        border: none;
    }

.ninten-logo {
        width: 80px;
    }

.box-left {
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
    }


    /* / CRUCETA / */

.cross {
        width: 72px;
        height: 72px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: -25px;
    }

.cross1 {
        background-color: none;
    }

.cross-central {
    background: linear-gradient(to right, grey, rgb(77, 76, 76));
    }

.cross-top {
    background: linear-gradient(to right, grey, rgb(77, 76, 76));
    border-top: outset 2px rgb(60, 60, 60);
    border-left: outset 2px rgb(82, 82, 82);
    border-right: outset 2px rgb(60, 60, 60);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cross-bottom {
    background: linear-gradient(to right, grey, rgb(77, 76, 76));
    border-bottom: outset 2px rgb(60, 60, 60);
    border-left: outset 2px rgb(72, 71, 71);
    border-right: outset 2px rgb(60, 60, 60);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cross-right {
    background: linear-gradient(to right, rgb(77, 76, 76), rgb(116, 116, 116));
    border-bottom: outset 2px rgb(60, 60, 60);
    border-top: outset 2px rgb(60, 60, 60);
    border-right: outset 2px rgb(33, 33, 33);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.cross-left {
    background: linear-gradient(to right, rgb(178, 178, 178), grey);
    border-bottom: outset 2px rgb(60, 60, 60);
    border-top: outset 2px rgb(60, 60, 60);
    border-left: outset 2px rgb(81, 81, 81);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid rgb(67, 67, 67);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.cross-triangles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle-top {
    transform: rotate(-90deg);
}

.triangle-left {
    transform: rotate(180deg);

}

.triangle-bottom {
    transform: rotate(90deg);
}

.circle-cross {
    background-color:rgb(67, 67, 67);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: inset 2px rgb(132, 132, 132);
}

/* BOTONES DERECHOS A Y B */

.box-right {
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        padding-right: 16px;
    }

.button {
        background: linear-gradient(to right, rgb(121, 121, 121), rgb(65, 65, 65));
        height: 36px;
        width: 36px;
        border-radius: 50%;
        margin: 9px;
        border: outset 2px rgb(107, 71, 44);
        display: flex;
        justify-content: center;
        align-items: center;
    }

.button-txt {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(70, 70, 70);
        font-size: 25px;
        margin-right: 9px;
        margin-top: 27px;
        text-shadow: 1px 2px 1px grey;
}

.button-b {
        margin-top: 25px;
        margin-right: 5px;
    }

/* / PANTALLA / */


.screen {
    width: 270px;
    height: 234px;
    display: grid;
    grid-template-columns: 5fr 20fr 5fr;
    grid-template-rows: 3fr 17fr 6fr;
}

.bezel {
    background-color: rgb(66, 65, 65);
}


.bezel-left-t {
    display: flex;
    align-items: center;
    justify-content: center;
}

.led {
    background-color: brown;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin: 2px;
}

.led-r {
    height: 12px;
    width: 16px;
}

.bezel-left-b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9px;
    color: azure;
}

.bezel1 {
    grid-column: 1 / 5;
    border-radius: 8px 8px 0px 0px;
}


.bezel2 {
    padding-top: 40px;
}

.bezel5 {
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em/6em;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.logo1 {
    width: 160px;
}

.in-screen {
    background: linear-gradient(-85deg, rgb(71, 71, 71) 25%, rgb(54, 54, 54) 50%, rgb(85, 85, 85));
    border: inset 5px rgb(108, 108, 108);
}



/* /// PIE DE LA WEB /// */

.footer {
    background-color: rgb(185, 154, 116);
    height: 10vh;
}
